<html>
    <head>
        <title>Todo App</title>
        <style>
            .hidden {
                display: none
            }
            ul {
                list-style: none;
                padding: 0;
                margin: 0;
                width: 200px;
            }
            li{
                clear: both;
            }
            li button{
                -webkit-appearance: none;
                border: none;
                outline: none;
                color: red;
                float: right;
                cursor: pointer;
                font-size: 20px;
            }

            .parent {
                width: 100vw;
                height: 85vh;
                /* Aligns the children items in a row direction */
                display: flex;
            }

            .child1{
                background-color: violet;
                padding-top: 10px;
                padding-right: 10px;
                padding-left: 10px;
            }

            .child2{
                background-color: rgb(128, 255, 0);
                padding-top: 10px;
                padding-right: 10px;
                padding-left: 10px;
            }

        </style>
    </head>
    <body>
        <h1>App de To-Dos</h1>
        <div id="erro" class="hidden">Algo deu errado!</div>
        <div id="MainApp" class="parent">
            <div id="TodoLists" class="child1">
                <h2 id="TodoListHeader">TodoLists</h2>
                <form id="formTodoList" action="/todoLists/create" method="post">
                    <label for="listDescription">Nome da Lista</label>
                    <input type="text" id='listDescription' name="description"/>
                    <input type="submit" value="Criar Lista"/>
                </form>
                <ul id="listsList">
                    {% for d in lists %}
                    <li id="ll{{d.id}}"><a href="/lists/{{d.id}}">{{d.name}}</a>
                    {% endfor %}
                </ul>
            </div>
            <div id="ActiveList" class="child2">
                <h2 id="ActiveListHeader">{{ active_list.name }}</h2>
                <form id='formTodo' action="/todos/create" method="post">
                    <label for="description">Nome</label>
                    <input type="text" id='todoDescription' name="description"/>
                    <input type="submit" value="Criar Tarefa"/>
                </form>
                <ul id="todoList">
                    {% for d in todos %}
                    <li id="li{{d.id}}"><input data-id="{{d.id}}" class="check-completed" type="checkbox" 
                        {% if d.completed %} checked {% endif %} /> {{d.description}} 
                        <button class="delete-item" data-id="{{d.id}}">
                            &cross;
                        </button> 
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        <script>
            // Listener para os botões de delete
            function deleteItem() {
                const buttons = document.querySelectorAll('.delete-item');
                for (let i = 0; i < buttons.length; i++) {
                    const button = buttons[i];
                    button.onclick = function(e) {
                        const todoId = e.target.getAttribute('data-id');
                        fetch('/todos/delete', {
                            method: 'POST',
                            body: JSON.stringify({
                                'todoId': todoId
                            }),
                            headers: {
                                'Content-Type': 'application/json'
                            }
                        })
                            .then(function() {
                                li = document.getElementById("li" + todoId);
                                li.parentNode.removeChild(li);
                            })
                    }
                }
            }
            
            // Listener para os checkboxes
            function checkboxChecker() {
                const checkboxes = document.querySelectorAll('.check-completed');
                for (let i = 0; i < checkboxes.length; i++) {
                    const checkbox = checkboxes[i];
                    checkbox.onchange = function(e) {
                        const newCompleted = e.target.checked;
                        const todoId = e.target.getAttribute('data-id');
                        fetch('/todos/' + todoId + '/set-completed', {
                            method: 'POST',
                            body: JSON.stringify({  
                                'completed': newCompleted
                            }),
                            headers: {
                                'Content-Type': 'application/json'
                            }
                        })
                    }
                }
            }
            
            // Anexa os listeners de evento aos novos elementos
            function attachEventListeners() {
                deleteItem();
                checkboxChecker();
            }
            
            // Listener para o botão Criar Tarefa
            document.getElementById('formTodo').onsubmit = function(e) {
                e.preventDefault();
                fetch('/todos/create', {
                    method: 'POST',
                    body: JSON.stringify({
                        'description': document.getElementById('todoDescription').value,
                        'list_id': {{ active_list.id }}
                    }),
                    headers: {
                        'Content-Type': 'application/json'
                    }
                })
                    .then(function(response) {
                        return response.json();
                    })
                    //AJAX para atualizar a lista 
                    .then(function(jsonResponse) {
                        const liItem = document.createElement('LI');
                        if (jsonResponse.completed) {
                            liItem.innerHTML = `
                            <li id="li`+jsonResponse.id+`"><input data-id="`+jsonResponse.id+`" class="check-completed" type="checkbox" 
                                checked /> `+jsonResponse.description+` 
                                <button class="delete-item" data-id="`+jsonResponse.id+`">
                                    &cross;
                                </button> 
                            </li>
                            `
                        } else {
                            liItem.innerHTML = `
                            <li id="li`+jsonResponse.id+`"><input data-id="`+jsonResponse.id+`" class="check-completed" type="checkbox" 
                                /> `+jsonResponse.description+` 
                                <button class="delete-item" data-id="`+jsonResponse.id+`">
                                    &cross;
                                </button> 
                            </li>
                            `
                        }
                        // Insere o novo elemento na lista
                        document.getElementById('todoList').appendChild(liItem);
                        
                        // Anexa os listeners de evento aos novos elementos
                        attachEventListeners();
                        
                        document.getElementById('erro').className = 'hidden';
                    })
                    .catch(function() {
                        document.getElementById('erro').className = '';
                    })
            }

            // Listener para o botão Criar Lista
            document.getElementById('formTodoList').onsubmit = function(e) {
                e.preventDefault();
                fetch('/todoLists/create', {
                    method: 'POST',
                    body: JSON.stringify({
                        'name': document.getElementById('listDescription').value,
                    }),
                    headers: {
                        'Content-Type': 'application/json'
                    }
                })
                    .then(function(response) {
                        return response.json();
                    })
                    //AJAX para atualizar a lista 
                    .then(function(jsonResponse) {
                        const liItem = document.createElement('LI');
                        liItem.innerHTML = `
                        <li id="ll`+jsonResponse.id+`"><a href="/lists/`+jsonResponse.id+`">`+jsonResponse.name+`</a>
                        `
                        // Insere o novo elemento na lista
                        document.getElementById('listsList').appendChild(liItem);
                        
                        // Anexa os listeners de evento aos novos elementos
                        attachEventListeners();
                        
                        document.getElementById('erro').className = 'hidden';
                    })
                    .catch(function() {
                        document.getElementById('erro').className = '';
                    })
            }

            // Anexa os listeners de evento aos elementos já existentes
            attachEventListeners();
        </script>
    </body>
</html>